
        /* Reset some default styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Basic styles for mobile-first design */
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            padding: 20px;
        }

        header {
            background-color: #fff;
            color: #333;
            text-align: center;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
           .headblock {
    position: sticky;
    width: 100%;
    max-width: 1200px;
    height: 150px;
    top: 0;
    margin: 0 auto;
}
        

        /* Logo styles */
       .logo {
       margin:0 auto;
       }
        .logo img {
width: 100%;
    height: auto;
    max-width: 250px;
        }

        .container {
            max-width: 100%;
            padding: 20px;
            background-color: #fff;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
        }
input {
    font-size: 1.2em;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #025029;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        margin: 5px auto;
}

textarea {
   font-size: 1.2em !important;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #025029;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        margin: 5px auto;
        resize: vertical;
}


button {
    padding: 8px 12px;
    min-width: 250px;
    font-size: 1.4em;
    text-transform: uppercase;
    background-color: #025029;
    color: #ffffff;
    FONT-WEIGHT: 500;
    letter-spacing: .1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}


        /* Navigation drawer styles */
        .drawer {
            position: fixed;
            top: 0;
            left: -250px;
            width: 250px;
            height: 100%;
            background-color: #fff;
            color: #025029 !important;
            transition: left 0.3s;
        }

        .drawer.active {
            left: 0;
box-shadow: 4px 0px 10px rgba(2, 80, 41, .1);
        }
ul {
    margin-top:50px;
}

        li {
          padding: 10px 0 10px 50px;
  }
        
        
      li a {
          color: #025029;
    font-size: 1.6em;
}
        
        

        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #025029;
            font-size: 24px;
        }

        .menu-icon {
        display: block;
    position: absolute;
    top: 0;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    color: #025029;
    font-size: 40px;
        }

        .menu-icon.active {
            display: none;
        }

        /* Media query for tablet/desktop */
        @media screen and (min-width: 768px) {
            .container {
                max-width: 768px;
                margin: 20px auto;
            }

            h1 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
            }
        }

        /* Media query for larger desktops */
        @media screen and (min-width: 1200px) {
            .container {
                max-width: 1200px;
            }
        }
 
