
        /* Reset some default styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Basic styles for mobile-first design */
        body {
            font-family: Arial, sans-serif;
            background-color: #fff;
            padding: 20px;
                
        }

        header {
            background-color: #fff;
            color: #333;
            text-align: center;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
                width:100%;
        }
           .headblock {
    position: sticky;
    width: 100%;
    max-width: 1200px;
    height: 150px;
    top: 0;
    margin: 0 auto;
}
        

        /* Logo styles */
       .logo {
       margin:0 auto;
       }
        .logo img {
width: 100%;
    height: auto;
    max-width: 250px;
        }

        .container {
            max-width: 100%;
            padding: 20px;
            background-color: #fff;
            margin: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        }

.monthcontainer{
       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
        
.heading {
    padding: 0 20px;
    box-shadow: unset;
}
}
.heading h2,        h1 {
            font-size: 24px;
            margin-bottom: 10px;
        }
/* Default styles for items */
.monthitem {
  width: 49%;
  /* Add other styles like padding, margin, etc., as needed */
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Text color for links */
}
.monthplant{
        border:1px solid #025029;
}


.plant{
        font-size:18px;
        color:#9b3821;
        font-weight:600;
}



.caption h4 {
 font-size: 1.6em;
    max-width: 15ch;
    margin: 0 auto;
}

        p, div {
            font-size: 16px;
            line-height: 1.5;
        }
input {
    font-size: 1.2em;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #025029;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        margin: 5px auto;
}
iframe{
        width:100%;
        height:80vh;
}
.hidemap{
    height: 45px;
    width: 330px;
    background-color: #2E312F;
    position: absolute;
    top: 10px;
    left: 50px;
max-width:75%;
        }

textarea {
   font-size: 1.2em !important;
    font-family:arial;
        padding: 5px 10px;
    width: 100%;
    border: 1px solid #025029;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .5);
        margin: 5px auto;
        resize: vertical;
}


button {
    padding: 8px 12px;
    min-width: 250px;
    font-size: 1.4em;
    text-transform: uppercase;
    background-color: #025029;
    color: #ffffff;
    FONT-WEIGHT: 500;
    letter-spacing: .1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}


        /* Navigation drawer styles */
        .drawer {
  position: absolute;

    width: 100%;
    height: 400px;
    background-color: #fff;
    color: #025029 !important;
    transition: left 0.3s;
    z-index: 4;
    display: none;
    max-width: 1200px;
        }

        .drawer.active {
        top: 0;
    left: 0px;
    box-shadow: 4px 0px 10px rgba(2, 80, 41, .4);
    display: block;
        }
ul {
    margin-top:50px;
        list-style-type:none;
}

        li {
       padding: 10px 0 10px 50px;
    font-size: 1.6em;
    color: #025029;
  }
        
        
      li a {
          color: #025029;
    font-size: 1.6em;
}

a {
        text-decoration-color: #025029;
}

.drawer >ul >a:hover, .drawer >ul >a:hover li{
        background-color:#025029;
        color:#ffffff;
}
        
        

        .close-button {
            position: absolute;
            top: 10px;
            left: 20px;
            cursor: pointer;
            color: #025029;
            font-size: 40px;
        }

        .menu-icon {
        display: block;
    position: absolute;
    top: 0;
    left: 20px;
    cursor: pointer;
    z-index: 2;
    color: #025029;
    font-size: 40px;
        }

        .menu-icon.active {
            display: none;
        }

         .gallery-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px;
        }

        /* Individual gallery item */
        .gallery-item {
            flex-basis: calc(25% - 10px); /* Two columns on mobile, with 10px spacing between */
            margin-bottom: 20px;
            position: relative;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
                padding:10px;
        }

 .gallery-item:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0,1);
                padding:5px;
 }

 .gallery-item:hover h4 {
font-size:1.8em;
 }

        .gallery-item img {
            width: 100%;
            height: auto;
            display: block;
                    margin-bottom: 100px;
        }

        /* Caption style */
        .caption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.7);
            color: #025029;
            padding: 10px;
            text-align: center;
               
        }

        /* Remove default link styles */
        .gallery-item a {
            text-decoration: none;
        }

        /* Media query for tablet/desktop */
        @media screen and (min-width: 768px) {
            .container {
               /* max-width: 768px; */
                margin: 20px auto;
            }

            .heading h2,   h1 {
                font-size: 32px;
            }

            p {
                font-size: 18px;
            }
        }

        /* Media query for larger desktops */
        @media screen and (min-width: 1200px) {
            .container {
                max-width: 1200px;
            }
        }
      @media screen and (max-width: 600px) {
.hidemap{
max-width:50%;
      }
      }
     @media screen and (max-width: 900px) {

        .gallery-item {
            flex-basis: calc(50% - 10px); /* Two columns on mobile, with 10px spacing between */
 }
     }
             @media screen and (max-width: 600px) {

        .gallery-item {
            flex-basis: calc(100% - 10px); /* Two columns on mobile, with 10px spacing between */
 }
               }
                /* Media query for desktop */
@media (min-width: 768px) {
 

  .monthitem {
    /* Set the width to 24% for four columns */
    width: 24%;
    margin-bottom: 10px; /* Adjust the spacing between items */
  }
}
/* Media query for mobile */
@media (max-width: 767px) {

  /* You can add specific styles for mobile here */
  .monthitem {
    /* Mobile-specific styles for each item */
    margin-bottom: 10px; /* Add space between items on mobile */
  }
}
 
